
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:100%;height:106px;"></div>

<h2>Add New Project To Portfolio</h2>

<style>
	h2{
		text-align: center;
		margin-top: 20px;
	}
	.copyright{
		position:fixed;
		bottom:0;
		left:0;
		width: 100%;
	}
</style>
